/* Fonte principal */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  background-color: #134f33;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background-color: #134f33;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

a {
  font-weight: 500;
  color: #aad5c3;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

h1, h2, h3, h4 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #166b44;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #aad5c3;
  background-color: #1f7a52;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Remove sobrescrita do fundo branco no tema claro */
@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: #134f33;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #166b44;
  }
}
